################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learn_sys/x64/Debug
.vs
**/*.out
/resources
